langchain
langchain-community
langchain-openai
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
pypdf
sentence-transformers
rank-bm25
streamlit
python-dotenv
pydantic
faiss-cpu
huggingface-hub